body, p, h1{
    padding: 0;
    margin: 0;
}
p{
    line-height: 1rem;
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.table{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 0.2rem;
}

.tableLine{
    display: flex;
    gap: 0.2rem;
    justify-content: center;
}


.tableCell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    border: 0.1rem #ddd solid;
    box-shadow: none;
    text-align: center;
    outline-style: none;
}
.tableCellActive{
    box-shadow: 0 0 0.2rem #0000ff;
}

.tableCellBolder{
    border: 0.1rem #666 solid !important;
}
.tableCellBolder>input{
    color: #666;
}

.tableDefinitions{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    width: 8rem;
    height: 2rem;
}
.tableDefinitions>p:not(.tableDefinitions>p:nth-child(2)){
    border: 1px solid black;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
}
.tableDefinitions>p:not(.tableDefinitions>p:nth-child(2)):hover{
    cursor: pointer;
}
.tableDefinitions>p:nth-child(2){
    width: 4rem;
}   